.brandName {
   display: flex;
   align-items: center;
   font-family: 'Pelmeshka Cyrillic';
}

@media screen and (min-width: 501px) {
   .brand {
      font-size: 2em;
   }

}
#point, #a, #l  {
   color: #5b0025;
}

#P, #\(\), #ee  {
   color: #f79203;
}

#e, #b {
   color: #ff6a66;
}

#c, #eee {
   color: #da0c67;
}

#h, #m {
   color: #ff8f91;
}




