.ntf {
 /* border: red solid 2px;*/
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #5b0025;
}

.ntf h1 {
  position: absolute;
}
.ntf p {
  position: absolute;
  left: 10%;
  color: #df4f15;
}



#peach {
   width: 100%;
}

