.mentions {
   /*border:  solid 2px blue;*/
   color: #5b0025;
   background-color: #f1dbba;
   width: 100%;
   height: 100%;
   padding-bottom: 10px;
   padding-top: 10px;
}

.accueil {
   
   padding-bottom: 3%;
   padding-left: 15%;
   text-align: left;
}
.logo-ml {
   display: flex;
   flex-direction: column;
   align-items: center;
}
