.brand-logo {
   display: flex;
   align-items: center;
   font-size: 18px;
   height: 100%;
   margin-top: -10%;

}


#point2 {
   color: #f1dbba;
}

#P2 {

   color: #f79203;
}

#e2 {

   color: #f79203;
}

#c2 {
   color: #f79203;
}

#h2 {
   color: #f79203;
}

#ee2 {
   color: #f79203;
}


#m2 {
   color: #5b0025;
}

#eee2 {
   color: #5b0025;
}

#l2 {
   color: #5b0025;
}

#b2 {
   color: #5b0025;
}

#a2 {
   color: #5b0025;
}

#\(\) {
   color: #f79203;
}


