.brand-logo {
   display: flex;
   align-items: center;
   font-size: 18px;
   height: 100%;
   margin-top: -10%;
   
}

.logo {
   /* border: red solid 2px;*/
    width: 145px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
.logo img {
   margin-right: 12px;
}
 .logo h2 {
   font-family: 'Pelmeshka Cyrillic';
   font-size: 1.5em;
 }

#P2, #\(\) {

   color: #f79203;
}


#m2, #point2 {
   color: #5b0025;
}


