.hom {
    border: white solid 2px;
    background-color: #df4f15;
    color: #f1dbba ;
    min-height: 100vh;
    padding-left: 5%;
    padding-top: 1%;
}/*
.fond {
   height: 500px;
   width: 1000px;
   background-image: url('../../icones/fond.svg');
   background-size: cover;
   margin-top: -10%;
}*/

.hom a {
   color: #df4f15;
}

.hom a:visited {
   color: #5b0025;
}
.icone {
   padding-right: 100%;
}
.nav {
   position: fixed;
   height: 70%;
   width: 3%;
   background-color: #fff197;
   right: 0;
}




.t {
   /*background-color: #f1dbba;*/
   display: flex;
   align-items: center;
   margin-top: -4%;
}

.content {
   /*border: blue solid 2px;*/
   display: flex;
   flex-direction: column;
}
.presentation {
  /* border: red solid 2px;*/
   min-height: 50vh;
   text-align: left;
}

.skills {
   /*border: red solid 2px;*/
   background-color: #5b0025;
  min-height: 50vh;
}


.list {
   /*border: red solid 2px;*/
   min-height: 50vh;
   display: flex;
   justify-content: space-around;
  
}
.pro {
   background-color: #f79203;
   width: 200px;
   height: 200px;
}

.position{
   display: flex;
   flex-direction: column;
   justify-content: center; 
   align-items: center;
}
.one {
   background-color: #ff8f91;
}
.two {
   background-color: #ff6a66;
}
.three {
   background-color: #da0c67;
   color: #1bd6b2;
}
.experiences {
  /* border: red solid 2px;*/
   background-color: white;
   min-height: 50vh;
   color: #f79203;
   
}

.xps {
   display:flex;
   flex-direction:row;
   justify-content: space-around;
   flex-wrap: wrap;
}

.xp {
   display:flex;
   align-items: center;
   flex-wrap: wrap;
   width: 40%;
}

.xp div {
   width: 50%;
}

.xp p {
   text-align: justify;
}

.realisation {
    background-color: #f1dbba;
    color: #df4f15;
    min-height: 50vh;
}
.projects {
  /* border: red solid 2px;*/
   display: flex;
   flex-direction:row;
   flex-wrap: wrap;
   justify-content: space-around;
}


.project {
   color: #df4f15;
}


#point {
   color: white;
}

#P {
   color: #f79203;
}

#e {
   color: #ff6a66;
}

#c {
   color: white;
}

#h {
   color: #ff8f91;
}

#ee {
   color: #f79203;
}


#m {
   color: #ff8f91;
}

#eee {
   color: white;
}

#l {
   color: #5b0025;
}

#b {
   color: #ff6a66;
}

#a {
   color: #5b0025;
}

#\(\) {
   color: #f79203;
}

