.hom {
    border: white solid 2px;
    background-color: #df4f15;
    color: #f1dbba ;
    min-height: 100vh;
     

}
.hom a {
   color: #df4f15;
}

.hom a:hover {
   color: #5b0025;
}
.icone {
   padding-right: 100%;
}
.nav {
   position: fixed;
   height: 70%;
   width: 3%;
   background-color: #fff197;
   right: 0;
}


.mainContent {
   /*border: blue solid 2px;*/
   display: flex;
   flex-direction: column;
}

.presentation {
   /*border: red solid 2px;*/
   min-height: 100vh;
   text-align: left;
   
   position: relative;
   z-index: 1;
}

.presentationBackground {
   position: absolute;
   width: 100%;
   height: 100%;
   background-image: url('../../images/ordi2.jpg');
   background-size: cover;
   opacity: 0.5;
   z-index: 2;
}

.presentationContent {
   position: absolute;
   padding-left: 5%;
   width: 100%;
   height: 100%;
   z-index:3;
}
/*
.background {
   position: relative;
   background-color: #5b0025;
   min-height: 110vh;
}

.image {
   position: absolute;
   width: 100%;
   height: 100%;
  /* background-image: url('../../images/rose.jpg');
   background-size: cover;
   opacity: 1;
  
}
*/

.skills {
   /*border: red solid 2px;*/
   background-color: #5b0025;
   min-height: 80vh;
   padding-top: 7%;
   
   
}


.list {
   /*border: red solid 2px;*/
   padding-top: 8%;
   padding-bottom: 8%;
   min-height: 50vh;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
  
}

.position{
   display: flex;
   flex-direction: column;
   justify-content: center; 
   align-items: center;
  
}
.one {
   background-color: #ff8f91;
}
.two {
   background-color: #ff6a66;
}
.three {
   background-color: #da0c67;
   color: #1bd6b2;
}
.experiences {
  /* border: red solid 2px;*/
   background-color: white;
   min-height: 50vh;
   color: #f79203;
   position:relative;
}
.experiences h1{
  /* border: red solid 2px;*/
   top: 0;
   position: absolute;
    width: 100%;
   z-index:2;
}
.experiencesTitle{
   top: 0;
   position: absolute;
   background-color: white;
   opacity: 0.2;
   height:7%;
   width: 100%;
   z-index: 1;
}
.experiencesBackground {
   
   width: 100%;
   height: 100%;
   min-height: 100vh;
   background-image: url('../../images/exp.jpg');
   background-size: cover;
   
}

.xps {
   display:flex;
   flex-direction:row;
   justify-content: space-evenly;
   flex-wrap: wrap;
   text-align: left;
   padding-top: 8%;
   padding-bottom: 8%;
}

.xp {
   display:flex;
   align-items: center;
   flex-wrap: nowrap;
   /*width: 40%;*/
}
/*
.xp div {
   width: 60%;
}
*/
.xp p {
   text-align: justify;
   font-size: 12px;
}

.realisation {
    background-color: #f1dbba;
    color: #df4f15;
    min-height: 110vh;
    position: relative;
    z-index:1;
    padding-top: 5%;
}
.realisation h1 {
    position: relative;
    z-index:3;
}
.realisationBackground {
  /* border: red solid 2px;*/
  /* display: flex;
   flex-direction:row;
   flex-wrap: wrap;
   justify-content: space-around;
*/
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   background-image: url('../../images/cream.jpg');
  
   background-size: cover;
   z-index:2;
   opacity: 0.3;
}

.projects {
  /* border: red solid 2px;*/
   display: flex;
   flex-direction:row;
   flex-wrap: wrap;
   justify-content: space-around;
   position: absolute;
   width: 100%;
   /*height: 100%;*/
   z-index:3;
   padding-top: 5%;
  
}
.project {
   color: #df4f15;
}



#point {
   color: white;
}

#P {
   color: #f79203;
}

#e {
   color: #ff6a66;
}

#c {
   color: white;
}

#h {
   color: #ff8f91;
}

#ee {
   color: #f79203;
}


#m {
   color: #ff8f91;
}

#eee {
   color: white;
}

#l {
   color: #5b0025;
}

#b {
   color: #ff6a66;
}

#a {
   color: #5b0025;
}

#\(\) {
   color: #f79203;
}

