
.load{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: #f1dbba;
   height: 100vh;
   /*min-height: 95vh;
   border: violet solid 2px;*/
}
.brand {
   display: flex;
   
   /*flex-direction: column;
   /*background-color: #f1dbba;
   align-items: center;*/
}
@media screen and (min-width: 501px) {
   .brand {
      font-size: 2em;
   }

}