.footer {
    padding-top: 70px;
    background-color: #5b0025;
    min-height: 30vh;
    
}

.footer a {
    text-decoration: none;
    margin-right: 2%;
}

.reseaux_sociaux{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

@media screen and (max-width: 1000px) {
.reseaux_sociaux{
    margin-bottom: 8%;
}

}