.footer {
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 20vh;
    padding-top: 40px;
    border-top: 1px solid #5b0025;
    /*background-image: url('../../images/d.png');
    background-size: cover;
   background-position-y: center;*/

}

.footer a, p {
    text-decoration: none;
    color:  #5b0025;
}



.reseaux_sociaux{
    display: flex;
    justify-content: center;
}

.surlignage_footer {
 
    border-radius: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color:   #da0c67;
    height: 7px;
    width: 180px;
 }
 


@media screen and (max-width: 495px) {

    .footer p {
        font-size: 14px;
    }

    .surlignage_footer {
 
        width: 108px;
     }
     
    
}