.logo_ {
   position: fixed;
   top: 35px;
   left: 9%;
   z-index: 1;
}
h1 {
   /*font-family: 'Pelmeshka Cyrillic';*/
   font-weight: normal;
}
.home h1{
   text-shadow:
   1px 1px 6px white,
   0 0 1em white,
   0 0 0.2em white;
}

.home h2{
   color: #f79203; 
  
}
.home h3 {
   font-weight: normal;
}
.home_main_content {
   color: #5b0025;
}
.introduction {
  padding-top: 5%;
   position: relative;
}


.video_contenant{
   display: flex;
   justify-content: center;
    align-items: center;
   margin-top: auto;

}
.video {
  width: 45%;
  /*margin: auto;*/
  margin-bottom: 7%;
 
  
}

.video_hidden {
   /*visibility: hidden;*/
}

.video_r {
  position: absolute;

}

.react-player__preview{
   position: relative;
   z-index: 2;
}
.chef{
   position: absolute;
   height: 70%;
   bottom: 6%;
   right: 10%;
   z-index: 1;
}


.titre, .ingredients_cercles {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.titre_h1 {
   position: absolute;
   top: 175px;
   left: 5%;

}

.ingredients_cercles {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 50px;
}

.surlignage {
 
   border-radius: 10px;
   margin-bottom: 100px;
}

.surlignage_h1 {
   background-color:  #ff6a66;
   height: 9px;
   width: 80%;
}
.surlignage_h2 {
   background-color:   #da0c67;
   height: 7px;
   width: 8%;
}

.surlignage_h2_recette {
   background-color:   #5b0025;
   height: 7px;
   width: 8%;
   margin-bottom: 60px;
}

.ingredients {
   margin-bottom: 100px;

   position: relative;
   
}

.recette {
   color: #ff6a66 !important;
   margin-bottom: 5%;
   position: relative;
}
.planche_decouper {
   position: absolute;
   top: 26%;
   background-image: url('../../images/planche_decouper.jpg');
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   height: 100%;
   width: 100%;
   /*left: 50%;
   margin-left: -425px;*/
   opacity: 0.3;
   transform: rotate(180deg);
}

.nom_recette {
 
   font-family: 'Pelmeshka Cyrillic';
   font-size: 3em;
   margin-bottom: 0;
  
}

.phrase_accroche {
   font-size: 1.2em;
   margin-bottom: 3%;
}

.liste_ingredients {
   text-align: left;
   width: fit-content;
   margin: auto;
   position: relative;
    z-index: 1;
   line-height: 2em;
   margin-top: 100px;
   margin-bottom: 200px;
 }


.etape {

   
   margin-left: 15%;
   margin-right: 15%;

}

.etape_content {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   /*position: relative;*/
}
.etape_content p {
   /*position: relative;*/
   text-align: justify;
  /*z-index: 1;*/
   text-shadow:
   1px 1px 6px white,
   0 0 1em white,
   -4px -2px 0.2em white;
   width: 44%;
   color: #5b0025;
   line-height: 1.5em;

}

.conclusion_recette {
   text-align: center !important;
   color: #da0c67 !important;
}
.cercle {
   width: 200px;
   height: 200px;
   border: 2px solid #5b0025;
   border-radius: 105px;
   background-size: cover;
   background-position: center;
}
.cercle_etape {
   position: absolute;
   z-index: -1;
}
.cercle_violet {
   border: 2px solid #5b0025;
   left: 15%;
}

.cercle_rose {
   border: 2px solid #ff8f91;
   right: 16%;
}

.cercle_jaune {
   border: 2px solid #f1dbba;
}
.cercle_jaune_droit { 
   right: 20%;
}

.cercle_jaune_gauche {
   left: 20%;
}
.cercle_haut_hauteur {
   top: 10%;
}
.cercle_bas_hauteur {
   /*background-image: url('../../images/vanille.jpeg');*/
   top: 35%
}
.cercle_haut_hauteur2 {
  /* background-image: url('../../images/cream.jpg');*/
   top: 63%;
}
.cercle_bas_hauteur2 {
   top: 87% 
}
.cercle_jaune1 {
   background-image: url('../../images/framboise.png');
   background-color: white;
}

.cercle_jaune2 {
   background-image: url('../../images/peche.png');
   background-color: white;

}
.cercle_jaune4 {
   background-image: url('../../images/pm.jpg');
   background-position-y: -9px;
}
.cercle_jaune3 {
   /*background-image: url('../../images/brigade.jpeg');*/
   background-image: url('../../images/cream.jpg');
}

.cuisiner {
   width: 50%;
}

.contact_lien {
   text-decoration: none;
   
}

.contact {
   background-color: #da0c67;
   color: white;
   font-size: x-large;
   width: 150px;
   height: 150px;
   border-radius: 75px;
   display: flex;
   align-items: center;
   justify-content: center; 

}

.a {
   /*border: red solid 2px;*/
   /*background-color: transparent;*/
   z-index: 1;
   background-color: #ff8f91;
   opacity: 0.8;
   display:flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   color: #5b0025;
   text-decoration: none;
}

.cuisiner {
   padding-bottom: 40px;
   padding-top: 40px;
}

.ustensiles{
   width: 70%;
   margin-top: 100px;
   margin-bottom: 100px;
}
.tablier {
   width: 40%;
  /* opacity: 0.5;*/
}

.contactez {
   position: relative;
}

.contact_lien_bas {
   position: absolute;
   top: 36%;
  left: 59%;
}
.contact_lien_presentation {
   color: #da0c67;
}
.presentation {

  /* background-image: url('../../images/couverture_dos.jpeg');
   background-size:   40%;
   background-repeat: no-repeat;
   background-position: center;
   /*background-position-y: -300px;
   background-position-x: 0;*/
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 100px;
   /*padding-top: 200px;
   padding-bottom: 300px;
   /*width: 40%;*/
   /*margin: auto;
   */
   
  /* padding-left: 17%;
   padding-right: 17%;*/

  
}
.presentation_contenu {
   width: 40%;
   margin: auto;
}
.presentation_cercles {
   /*display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   /*margin-left: 15%;
   padding-top: 11%;*/
 
}

.cercle_moi {
   background-image: url('../../images/melinda_mendy.jpg');
   margin: auto;
   margin-bottom: 80px;
}


.presentation_texte {
   text-align: justify;
   width: fit-content;
   margin: auto;
   line-height: 1.5em;
   margin-bottom: 20px;
}



.moi {

}

.pourquoi {
}

.arguments {
}

@media screen and (max-width: 1440px) {

   .chef {
      
     right: 4%;
     
  }
   .cercle_jaune_gauche {
      left: 12%;
   }

   .cercle_violet {
      left: 8%;
  }

  .cercle_rose {
   right: 7%;
}

.cercle_jaune_droit { 
   right: 12%;
}

.contact {
   width: 130px;
   height: 130px;
}

.presentation_contenu {
   width: 50%;
}

}

@media screen and (max-width: 1024px) {

   .nom_recette {
      font-size: 2em;
  }

  .home h1 {
   font-size: 20px;
  }

  .logo_ {

   top: 2%;
   width: 95px;
   left: 3%;
}
  .titre_h1 {
   left: 2%;
}
  .titre_nom_recette{
      margin-bottom: 5%;
  }

   .video {
      width: 44%;
   }
   /*
   .surlignage_h2 {
     
      margin-bottom: 50px;
  }
  .planche_decouper {
   background-size: cover;
}*/
   .contact {
      font-size: larger;
      width: 110px;
      height: 110px;
   }

   .cercle {
      width: 160px;
      height: 160px;
   }

   .etape {
      margin-left: 5%;
      margin-right: 5%;
  }


   .cercle_violet {
      left: 3%;
   }

   .cercle_rose {
      right: 3%;
   }

   .cercle_jaune_gauche {
      left: 8%;
   }
   .cercle_jaune_droit { 
      right: 8%;
   }

   .presentation_contenu {
      width: 60%;
   }
 
}





@media screen and (max-width: 850px) {

       section {
         margin-bottom: 0;
   }

       .titre_h1 {
         top: 280px;
         left: 50%;
         margin-left: -125px;
   }
       .titre_nom_recette {
         padding-top: 350px;
   }
       .chef {
         height: 286px;
         top: -5%;
         right: 50%;
         margin-right: -143px;
   }
       .contact {
         width: 97px;
         height: 97px;
   }

       .introduction {
          margin-top: 210px;
   }

        .logo_ {
           
          left: 50%; /*moitie ecran*/
          margin-left: -72.5px; /* moitié largeur div*/
   }

       .nom_recette {
         font-size: 2em;
   }

       .surlignage {       
         margin-bottom: 30px; 
   }

       .surlignage_h2 {
          width: 14%;
  }

       .cercle_etape {
          width: 80px;
  }
/*
       .home h3 {
         padding-bottom: 57px;
  }      
*/
      .planche_decouper {
         background-size: cover;
      }

       .ingredients {
         margin-bottom: 5%;
       }

       
       .etape {
         margin-bottom: 96px;
  }  

       .etape_content p {
        width: 75%;

  }





      .cercle_jaune4 {
         background-position-y: -3px;
         background-position-x: -2px;
      }

      .cercle_jaune_droit, .cercle_rose { 
         right: 0;
         border-radius:  100px 0 0 100px ;
         border-right: 0;
      }
      

      .cercle_jaune_gauche, .cercle_violet {
         left: 0;
         border-radius: 0 100px 100px 0;
         border-left: 0;
      }
      .contact_tablier {
         font-size: medium;
      }
      .presentation_contenu {
         width: 70%;
         margin: auto;
      }

}


     
  


@media screen and (max-width: 495px) {

   .logo img {
      width: 93px;
   }
   .titre_nom_recette {
     padding-top: 500px;
     margin-bottom: 8%;
  }
  .chef {
      top: 7%;

}
.introduction {
   margin-top: 110px;
}

.titre_h1 {
   top: 380px;
}
  .nom_recette {
   font-size: 1.7em;
   margin-bottom: 8px;
 }

 .phrase_accroche {
   margin-bottom: 13%;
}

   .video {
      width: 88%;
      margin-bottom: 52px;
 }

  .surlignage_h2 {
    width: 26%;
}

.liste_ingredients {
   text-align: center;
   width: 70%;
   padding-left: 0;
   margin-bottom: 100px;
   margin-top: 50px;
   padding-top: 34px;
   line-height: 1.5em;
}

.liste_ingredients li {
   margin-bottom: 20px;
}

.planche_decouper {
   top: 12%;
}

.etape {
   margin-top: 50px;
}
  
    .cercle_etape {
     width: 47px;
     height: 93px;
 }


.etape_content p {
   width: 100%;

}
.cercle_jaune4 {
   background-position-y: -3px;
   background-position-x: -2px;
}

.cercle_jaune_droit, .cercle_rose { 
   right: 0;
   border-radius:  100px 0 0 100px ;
   border-right: 0;
}

.cercle_jaune_gauche, .cercle_violet {
   left: 0;
   border-radius: 0 100px 100px 0;
   border-left: 0;
}

.cercle_haut_hauteur, .cercle_bas_hauteur {
   visibility: hidden;
}
 
.cercle_haut_hauteur2 {
    /* background-image: url(../../images/cream.jpg); */
    top: 83%;
}
.cercle_bas_hauteur2 {
   top: 94%;
}

.cercle_rose {
   background-image: url(../../images/peche.png);
}

.cercle_violet {
   background-image: url(../../images/cream.jpg);
}

.cercle_jaune_gauche {
   background-image: url(../../images/framboise.png);
}



.presentation_contenu {
   width: 90%;
}
.conclusion_recette {
   margin-top: 200px;
   margin-bottom: 125px;
}

.tablier {
   width: 80%;
   /*padding-bottom: 80px;*/
   padding-top: 50px;
}

.contactez {
   position: relative;
}

.contact_lien_bas {
 /*  position: absolute;
   top: 22%;
   left: 20%;*/
}
.ustensiles {
   width: 100%;
}
}
