

.prestations_list h2 {
  
      font-family: 'Pelmeshka Cyrillic';
      margin-bottom: 4%;
}

.realisation_description h3 {
   color:#ff6a66;
}
.realisation_description {
   /* height: 70vh;*/
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    justify-content: center;
 }
.realisation_description p {
   color: #5b0025;
   text-align: justify;
    padding: 7%;
}
.citation {
   color: #df4f15
}
.rectangle a{
   color: white;
   text-underline-position: under;
}
/*
.Home {
transform: translate3d(0px, 950px, 0px);
margin-bottom: -1100px;
}*/

.logo {
  /* border: red solid 2px;*/
   width: 70%;
   display: flex;
   flex-direction: column;
   align-items: center;
   /*padding: 0 2% 0 2%;*/

   background-color: white; 
}

.tab {
   
   display:flex;
   flex-direction: row;
   justify-content: space-evenly;
   /*height: 40px;*/
   width: 100%;
   height: 100%;
   
}

.tab a {
   background-color: white;
   /*background-color: transparent;*/
   opacity: 1;
   display:flex;
   justify-content: center;
   align-items: center;
   /*width: 250px;*/
   width: 100%;
   height: 100%;
   color: #da0c67;

}
.tab a:hover {
   /*color: #5b0025;*/
   opacity: 1;
}

.tab a {
   text-decoration: none;
   
}
.language{
   background-color: transparent!important;
}
.logo-mobile{ 
   /*display: flex;*/
   top: 2%;
   z-index: 1;
   left: -12%;
   width: 70%;
   flex-direction: column;
   align-items: center;
   position: initial;
   padding-top: 4%;
   margin: auto;
   
}
.react {
   margin-bottom: -2%;
}

.title {
   margin-top: -20%;
}
.circle {
   height: 50vh;
   width: 50vh;
   border-radius: 25vh; 
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
 }

 .circle p {
    font-size: large;
 }
 @media screen and (width: 1024px) {


.circle div {
   flex-direction: column;
}


 }


.prestations div {
   width:100%
}

@media screen and (min-width: 1001px) {

   .content{
      width: 1000px;
      margin: auto;
   }

.nav {
      
      display: flex;
      flex-direction: row;
      position: fixed;
      z-index: 4;
      width: 100%;
      height: 10%;
      font-size: 17px;
      margin-bottom: 10%;
     
   }
  
   .nav-mobile {
      display: none;
      justify-content: center;
   }
   .list {
      justify-content: space-evenly;
      justify-items: center;
   }
   .xp-list {
      display: flex;
   }

   .brand_name {
      position: absolute;
      top: 15%;
      left: 4%;
   }

 
.rectangle{
   display: flex;
    align-items: center;
    justify-content: center;
}
.rectangle_right {
   background-color: #ff6a66;
   margin-left: 50%;
   transform: translateX(-30%);
}
}


.hamburgerNav {
  /* border: red solid 2px;*/
   height: 40px;
   width: 40px;
   background-color: #f79203;
   color: #5b0025;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   border-radius: 5px; 
   opacity: 0.8;
   margin-top: 7%;
   position: fixed;
   left: 67%;
   z-index: 3;
 
}
.hamburgerNav:hover {
   opacity: 1;
}
.menu {
   background-color: #fff197;
   height: 6%;
   width: 60%;
   margin-top: 3%;
   margin-bottom: 1%;
}

.bar {
   position:fixed;
   display:flex;
   /*flex-wrap: wrap;*/
   flex-direction: column;
   display:none;
   height: 40%;
   width: 100%;
   margin-top: 23%;
   z-index: 3;
}

.a {
   /*border: red solid 2px;*/
   /*background-color: transparent;*/
   z-index: 1;
   background-color: #ff8f91;
   opacity: 0.8;
   display:flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   color: #5b0025;
   text-decoration: none;
}
.bar a:hover {
   /*color: #5b0025;*/
   opacity: 1;
}
.border {
   border: green 2px solid;
}

.presentation_ {
  /* border: red solid 2px;*/
  
   min-height: 100vh;
   text-align: left;
   position: relative;
}

.presentationBackground {
   position: absolute;
   width: 100%;
   height: 100%;
}

.presentationContent_ {
   position: absolute;
  /* padding-left: 5%;*/
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: nowrap;
   margin-top: 3%;
   
  
   color: #ff6a66;
   
}

.presentation_center {
   transform: translate3d(0px, 700px, 0px);
}

.presentation_title {
   opacity: 0;
   text-align: center;
}
.presentation_left {
   opacity: 0;
  margin-top: 25%;
}

.presentation_right {
   opacity: 0;
   margin-top: 21%;
}
/*
.presentationContent p {
   width: 100%;
   height: 100%;
   margin-left: 0;
   margin-bottom: -4%;
   
}
*/

.stack .langages img {
   max-width: 3.6em;
   padding: 1%;
}
.stack .logiciels img {
   max-width: 4em;
}
.mainContent_ {
 /*  border: blue solid 2px;*/
   display: flex;
   flex-direction: column;
}

.mainContent_ h2 {
   color: #5b0025;
   margin-top: 21%;
}
.realisation_type {
   height: 90vh;
   display: flex;
   align-items: center;
   margin-bottom: 6%;
   margin-top: 6%;
   justify-content: center;
}


.realisation_type_middle {
   flex-direction: row-reverse;
 
   
}

.circle div {
   display: flex;
   flex-direction: column;
}
.circle_center div{
   flex-direction: column;
}

#mockup_desktop{
   width: 6%;
}



.circle_top {
   background-color: #fff197;
   color: #5b0025;
   margin-right: 2%;
}

.circle_center {
   background-color: #5b0025;
   color: #ff8f91;
   margin-left: 2%;
   
}

.circle_bottom {
   background-color: #ff8f91;
   color: #5b0025;
  
}


.rectangle {
   height: 5vh;
   width: 50%;
   border-radius: 10px;
}

.rectangle_right {
   background-color: #ff6a66;
   margin-left: 50%;
}

.rectangle_left {
   background-color: #da0c67;
}

ul {
   list-style-type : none;
   padding-inline-start: 4%;
 }
.prestations_list {
   background-color: #df4f15;
   color: #f1dbba;
   border-radius: 10px;
   text-align: left;
   padding: 1%;
   margin:auto;
}

.prestations_list h3 {
   margin-left: 2%;
}
.prestations_list p {
  text-decoration: underline;
}
.prestations_list > div{
   margin-left: 3%;
   margin-right: 3%;
}

.prestations {
   display: flex;
   margin-bottom: 4%;
}




@media screen and (max-width: 1000px) {

   .nav {
      display: none;
   }
  
   .nav-mobile {
      display: flex;
      z-index: 4;
      width: 100%;
   }
 
  .brand-logo {
     visibility: hidden;
  }

  .language_mobile{
      position: fixed;
      right: 7%;
      top: 11%;
      
  }

   .list {
      justify-content: center;
   }
   .skill-item {
       margin-bottom: 10%;
   }

   .positionTwo {
       margin-top: 3%;
   }
   .xp-list {
      flex-direction: column;
   }
   
   section h1 {
   padding-top: 5%;
   }

   .mainContent_ {
        margin-bottom: 25%;
     
     }
   .mainContent_ h2 {
      margin-top: 23%;
      padding: 4%;
  }
  .presentation_{
     margin-top: 20vh;
     margin-bottom: 66%;
  }
   .presentationContent p {
    width: 100%;
    padding: 0 8% 0 8%;
    margin-top: -17%;
}

.presentation_title{
margin-top: 25%;
  order: 0;
}

.presentation_left {
   order: 2;
   margin-bottom: 42%;
   margin-top: 35%;
}

.presentation_right {
   order: 3;
   margin-top: -13%;
}

.presentation_left h2{
   order: 2;
   margin-top: 20%;
   text-align: center;
}

.presentation_right h2{
   order: 3;
   margin-top: 20%;
   text-align: center;
}



.circle{
   width: 40vh;
   height: 40vh;
   border-radius: 20vh;
   margin-bottom: 20%;
   margin-top: 20%;
}


.presentationContent_ {
   flex-direction: column;
}



.realisation_type{
   flex-direction: column;
   height: initial;

}



.circle div {
 
   flex-direction: column;
   justify-content: center;
}
.circle_top {
   margin-right: initial;
}
.circle_bottom{
   margin-right: initial;
}

.circle_center{
   margin-left: initial;
}

.prestations{
   flex-direction: column;
}
.prestations div {
   text-align: center;
}
.prestations_list{
   width: initial;
   text-align: center;
}

.presentation_title div  h1{
   margin-left: 21%;
   margin-bottom: 10%;
}
}
.apropos {
   margin-bottom: 5%;
}
.apropos p {
   text-align: left;
}




@media screen and (width: 768px) {
   .presentation_title{
      margin-top: 31%;
   }
   .presentation_left{
      margin-top: 27%;
      margin-bottom: 10%;
   }
   .presentation_right{
      margin-top: initial;
   }
   .mainContent_{
      margin-top: -60%;
   }
   .presentation_title div  h1{
      margin-left: initial;
   }


 
}
     .apropos {
        margin-top: 5%;
     }

    .apropos p {
       margin-left: 2%;
       margin-top: 3%;
    }
    .contact {
       text-align: left;
    }